#vid{
	padding-left: 300px;
}

#frame{
	padding-top: 50px;
}

.tablecls{
	 margin-left: auto;
 	 margin-right: auto;
}

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
}