{% extends "layout.html" %}

{% block body %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/signup.css')}}" >
<div class="container text-center" id="logdiv">
      <form class="form-signin" action="/signup" method="post">
      <h1 class="h3 mb-3 font-weight-normal">Sign Up</h1>
      <br>
      <input type="text" name="uname" class="form-control" id="formGroupExampleInput" placeholder="Username">
      <br>
      <label for="inputEmail" class="sr-only">Email</label>
      <input type="text" name="uemail" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
      <br>
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="upass" id="inputPassword" class="form-control" placeholder="Password" required>
      <br>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Signup</button>
      <br>
      <p style="color: rgb(255,0,0);">{{ msg }}</p>
    </form>
</div>
{% endblock %}